.nav-link {
    color: rgb(255 255 255);
}

.gap-3 {
    overflow-y: hidden;
}

.sendmessage {
    padding-left: 50px;
    padding-right: 34px;
    background: #e5e5e5;
}

.contact-content {
    margin-top: 37px !important;
    margin-left: 30px !important;
    margin-right: 30px !important;
    overflow-y: hidden !important;
    overflow-y: hidden !important;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important
}

.dropdown-menu[data-bs-popper] {
    margin-left: -40px !important;
}

.nav-link {
    color: #fff !important
}

.content-box {
    margin: 30px;
}

.black {
    color: black !important;
}